<div class="details">
  <div
    class="game-banner"
    [style.background-image]="'url('+game.background_image+')'"
  >
    <div class="game-content">
      <div class="game-details">
        <div class="game-header">
          <h1 class="game-header-title">{{ game.name }}</h1>
          <h2 class="game-header-release-date">Release: {{ game.released }}</h2>
          <p class="game-header-genres">
            <span>RPG</span>
          </p>
        </div>
        <div class="game-gauge">
          <mwl-gauge
            class="two"
            [max]="100"
            [dialStartAngle]="180"
            [dialEndAngle]="0"
            [value]="50"
            [animated]="true"
            [animationDuration]="2"
          >
          </mwl-gauge>
          <a
            class="game-gauge-label"
            target="_blank"
            href="https://www.metacritic.com"
            >Metacritic</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
