<div class="game-tabs">
  <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="About">
      <div class="game-tabs-about">
        <p class="game-tabs-par" *ngIf="game.parent_platforms?.length">
          Platforms:
          <span *ngFor="let game of game.parent_platforms; let last = last">
            {{ game.platform.name }}
            <span *ngIf="!last">, </span>
          </span>
        </p>
        <p class="game-tabs-par" *ngIf="game.publishers?.length">
          Publishers:
          <span *ngFor="let publisher of game.publishers; let last = last">
            {{ publisher.name }}
            <span *ngIf="!last">, </span>
          </span>
        </p>
        <p class="game-tabs-par" *ngIf="game.website?.length">
          Website:
          <a href="{{ game.website }}" target="_blank" class="game-tabs-link">{{ game.website }}</a>
        </p>
        <div class="game-description">{{ game.description_raw }}</div>
        <p class="game-tabs-votes">
          <ng-container *ngFor="let rating of game.ratings">
            <span class="game-votes-like" *ngIf="rating.title === 'exceptional'">
              <mat-icon class="game-votes-up">thumb_up</mat-icon>
              <span class="game-votes-count">{{ rating.count || 0 }}</span>
            </span>
            <span *ngIf="rating.title === 'skip'">
              <mat-icon class="game-votes-down">thumb_down</mat-icon>
              <span class="game-votes-count">{{ rating.count || 0 }}</span>
            </span>
          </ng-container>
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Screenshots" *ngIf="game.screenshots?.length"><!-- screenshots is a variable in response of map in http service -->
      <div class="game-screenshots">
        <img 
        class="game-screenshot"
        *ngFor="let screenshot of game.screenshots"
        src="{{ screenshot.image }}"
        alt="game-screenshot"
        />
      </div>
    </mat-tab>

    <mat-tab label="Trailers" *ngIf="game.trailers?.length"><!-- trailers is a variable in response of map in http service -->
      <video
        class="game-trailer"
        *ngFor="let trailer of game.trailers"
        controls
      >
        <source 
          src="{{ trailer.data?.max }}"
          type="video/mp4"
        >
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>