<div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
      >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img 
        src="https://media.rawg.io/media/crop/600/400/games/73d/73db43df633477d4604c7248292f34b2.jpg"
        alt="thumbnail"
        class="game-thumbnail">
    </div>

    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img 
          src="" 
          alt="slug"
          class="game-platform">
      </div>
    </div>
  </div>
</div>

